
:root {
  /* --main-color: rgb(0, 113, 220);  Plantilla */
  --main-color1: #051243; /* CAPPERU 1*/
  --main-color2: #0C161F; /* CAPPERU 2*/
  --main-color3: #8B0E06; /* CAPPERU 3*/
  --main-color4: #FAC823; /* CAPPERU 4*/
  --main-color-opacity: 255, 255, 255;
  --paragraph-color: #808191; 
  --heading-color: #11142D;
}

.ara-header-bottom-cap {
  background: var(--main-color2);
  padding: 10px 0px 5px 0px; 
}

.ara-linea-cap {
  max-width: 5%;
  border-bottom: 3px solid var(--main-color4); 
}


.navbar-area .nav-container .navbar-collapse .navbar-nav li a:hover {
  color: var(--main-color4);
}

.ara-portada-programas-exterior {
  height: 180px;
  overflow: hidden;
}

.ara-portada-programas-exterior .img{
  max-width: 100%; /* La imagen no superará el ancho del contenedor */
  height: auto; /* Mantiene la proporción de aspecto de la imagen */
  display: block; /* Elimina espacio adicional debajo de la imagen */
}

/* Ocultar Lineas de Textos - START */ 

.texto-oculto4 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 8em;
  }
  .texto-oculto3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 5.5em;
  }
  .texto-oculto2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    min-height: 2em;
  } 
  .texto-oculto1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  } 
  .texto-oculto4:hover, .texto-oculto3:hover, .texto-oculto2:hover, .texto-oculto1:hover {
    display: -webkit-box;
    -webkit-line-clamp: initial;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  /* Ocultar Lineas de Textos - END */